@model Configs
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
   
}

<!--Page Title images/background/8.jpg-->
<section class="page-title" style="background-image:url(images/background/8.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>من نحن</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/index">الرئيسية</a></li>
                <li>من نحن</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Us -->
<section class="about-us">
    <div class="auto-container">
        <div class="row clearfix rtl-dir">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 text-right">
                <h2>أهلا بك في سوق المواشي </h2>
                <div class="primary-text">
                    @Model.about
                </div>

            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image-box">
                    <img src="~/assets/img/about_Page_01_08.jpg" />
                </div>
                <div class="row clearfix">
                    <div class="column col-lg-6 col-md-6 col-sm-12 text-right">
                        <h3>رسالتنــا</h3>
                        <p>@Model.OurMessage</p>

                    </div>

                    <div class="column col-lg-6 col-md-6 col-sm-12 text-right">
                        <h3>تاريخنــا</h3>
                        <p>@Model.OurHistory</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->
