@model HaragApp.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}





<!--Main Slider-->
<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>


                <!-- Slide 1 -->
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-2.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['550','600','550','550']"
                         data-whitespace="normal"
                         data-textalign="center"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-120','-120','-120','-120']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h4>أفضل خدمة إصلاح  </h4>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['700','700','700','700']"
                         data-textalign="center"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-65','-65','-65','-65']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2>خدمة صيانة السيارات</h2>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-textalign="center"
                         data-whitespace="normal"
                         data-width="['700','700','550','450']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['5','5','5','15']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text">السيارات نحن متخصصون في العناية الكاملة بالسيارات بتكلفة منخفضة وفي <br>  أسلوب مهني.</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="auto"
                         data-whitespace="nowrap"
                         data-textalign="center"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['105','105','105','105']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="services.html" class="theme-btn btn-style-one"> ابدا الان</a>
                    </div>
                </li>

                <!-- Slide 2 -->
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1697" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-3.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['490','490','490','490']"
                         data-whitespace="normal"
                         data-hoffset="['0','15','15','15']"
                         data-voffset="['-120','-120','-120','-120']"
                         data-x="['right','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h4 style="text-align: right;">أفضل خدمة إصلاح</h4>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['490','590','490','490']"
                         data-whitespace="normal"
                         data-hoffset="['0','15','15','15']"
                         data-voffset="['-65','-65','-65','-65']"
                         data-x="['right','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <h2 style="text-align: right;"> وصيانة السيارات </h2>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['490','490','390','490']"
                         data-hoffset="['0','15','15','15']"
                         data-voffset="['5','5','5','5']"
                         data-x="['right','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <div class="text text-right">نحن متخصصون في العناية الكاملة بالسيارات بتكلفة منخفضة وفي  <br>  أسلوب مهني.</div>
                    </div>


                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="auto"
                         data-whitespace="nowrap"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['105','105','105','105']"
                         data-x="['right','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        <a href="services.html" class="theme-btn btn-style-one"> ابدا الان</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->
<!-- About Us -->
<section class="about-us">
    <div class="auto-container">
        <div class="row clearfix rtl-dir">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 text-right">
                <h2>أهلا بك في تأجير </h2>
                <h4>لوريم ايبسوم دولار سيت أميت</h4>
                <div class="primary-text">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
                </div>
                <div class="text">
                    لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريدلوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور

                    أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
                </div>
                <ul class="list-style-one clearfix">
                    <li>لوريم ايبسوم دولار سيت أميت </li>
                    <li>لوريم ايبسوم دولار سيت أميت </li>
                    <li>لوريم ايبسوم دولار سيت أميت </li>
                    <li>لوريم ايبسوم دولار سيت أميت </li>
                </ul>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="image-box">
                    <a href="about.html"><img src="images/resource/about-img.jpg" alt=""></a>
                </div>
                <div class="row clearfix">
                    <div class="column col-lg-6 col-md-6 col-sm-12 text-right">
                        <h3><a href="about.html">مهمتنا</a></h3>
                        <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبورلوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور</p>
                        <a href="about.html" class="read-more">المزيد</a>
                    </div>

                    <div class="column col-lg-6 col-md-6 col-sm-12 text-right">
                        <h3><a href="about.html">تاريخنا</a></h3>
                        <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبورلوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور</p>
                        <a href="about.html" class="read-more">المزيد</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Us -->
<!-- Fact counter -->
<section class="fun-fact-section" style="background-image:url(images/background/1.jpg);">
    <div class="auto-container">
        <div class="row clearfix rtl-dir">
            <!-- Count box -->
            <div class="count-box col-lg-3 col-md-6 col-sm-12 flo-right">
                <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-avatar-1"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="1035">0</span>
                    <div class="counter-title"><h5>خدمة كاملة</h5></div>
                </div>
            </div>

            <!-- Count box -->
            <div class="count-box col-lg-3 col-md-6 col-sm-12 flo-right">
                <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-transport"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="1035">0</span>
                    <div class="counter-title"><h5>خدمات مكتمله</h5></div>
                </div>
            </div>

            <!-- Count box -->
            <div class="count-box col-lg-3 col-md-6 col-sm-12 flo-right">
                <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-boy-broad-smile"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="1226">0</span>
                    <div class="counter-title"><h5>العملاء</h5></div>
                </div>
            </div>

            <!-- Count box -->
            <div class="count-box col-lg-3 col-md-6 col-sm-12 flo-right">
                <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-car-1"></span></div>
                    <span class="count-text" data-speed="2000" data-stop="1035">0</span>
                    <div class="counter-title"><h5>إجمالي الخبراء</h5></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fact counter -->
<!-- Feature Section -->
<section class="feature-section" style="background-image:url(/Home/images/background/2.jpg);">
    <div class="auto-container">
        <div class="title-box">
            <h2>اعلانات مموله</h2>
        </div>
        
        <div class="features-carousel owl-carousel owl-theme">

            @foreach (var item in Model.PaidAdvs)
            {
                <!-- Feature block -->
                <div class="feature-block">
                    <div class="inner-box">
                        <div class="image-box">
                            @*<a asp-action="Details" asp-controller="Advertisments" asp-route-id="@item.AdID">*@
                            <img src="@item.ImageUrl1" alt="" class="img-thumbnail" style="height:200px;width:500px;">
                            @*</a>*@

                        </div>
                        <div class="lower-content">
                            <h3><a href="service-detail.html">@item.Title</a></h3>
                            <a asp-action="Details" asp-controller="Advertisments" asp-route-id="@item.AdID" class="read-more"> التفاصيل<i class="fa fa-angle-left"></i></a>
                        </div>
                    </div>
                </div>
            }

          

        </div>
    </div>
</section>
<!-- End Feature Section -->
<!-- Gallery Section -->
<section class="gallery-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>الاقسام</h2>
            <div class="separator"><span class="flaticon-settings-2"></span></div>
        </div>

        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <!--Filter-->
            <div class="filters text-center clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">الكل</li>
                    <li class="filter" data-role="button" data-filter=".diagnostics">الرصاصات</li>
                    <li class="filter" data-role="button" data-filter=".engine">الكريدر</li>
                    <li class="filter" data-role="button" data-filter=".repair">اللويد</li>
                    <li class="filter" data-role="button" data-filter=".wheel">سطحات</li>
                    <li class="filter" data-role="button" data-filter=".conditioner">أجهزه</li>
                </ul>
            </div>

            <div class="filter-list row clearfix">
                <!-- Project item -->
                <div class="gallery-item mix all engine wheel conditioner col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/1.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project item -->
                <div class="gallery-item mix all diagnostics repair col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/2.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project item -->
                <div class="gallery-item mix all engine repair conditioner col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/3.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project item -->
                <div class="gallery-item mix all wheel repair col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/4.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project item -->
                <div class="gallery-item mix all diagnostics conditioner engine col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/5.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/5.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Project item -->
                <div class="gallery-item mix all wheel repair col-lg-4 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="images/gallery/6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="icon-box">
                                <a href="shop-single.html" class="link"><span class="icon fa fa-link"></span></a>
                                <a href="images/gallery/6.jpg" class="link" data-fancybox="gallery" data-caption=""><span class="icon fa fa-expand-arrows-alt"></span></a>
                                <h3><a href="shop-single.html">لوريم ايبسوم دولار سيت</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box text-center">
                <a href="#" class="theme-btn btn-style-two">المزيد</a>
            </div>
        </div>
    </div>
</section>
<!-- End Gallery section -->
<!-- count Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h3>يمكنك القيام بإضافه اعلان من هنا </h3>
            <a href="add-advertise.html" class="call-btn">ابدا الان</a>
        </div>
    </div>
</section>
<!-- End count Section -->
<!-- News section -->
<section class="news-section" style="background-image: url(images/background/pattern.png);">
    <div class="auto-container">
        <div class="title-box text-right">
            <h2>الاكثر طلبا</h2>
        </div>

        <!-- News Carousel -->
        <div class="news-carousel owl-carousel owl-theme">
            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box clearfix">
                    <div class="image-box">
                        <div class="image"><a href="shop-single.html"><img src="images/resource/news-1.jpg" alt=""></a></div>
                        <div class="label">
                            <div class="date"><span>17</span> oct</div>
                            <div class="likes"><i class="far fa-heart"></i> 10</div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3><a href="shop-single.html">Tلوريم ايبسوم دولار سيت</a></h3>
                        <ul class="info">
                            <li><a href="shop-single.html"><i class="far fa-user"></i> الادمن</a></li>
                            <li><a href="shop-single.html"><i class="far fa-comments"></i> 3 تعليقات</a></li>
                        </ul>
                        <p>لوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيت</p>
                        <a href="shop-single.html" class="read-more">المزيد <i class="fa fa-angle-double-left"></i></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box clearfix">
                    <div class="image-box">
                        <div class="image"><a href="shop-single.html"><img src="images/resource/news-2.jpg" alt=""></a></div>
                        <div class="label">
                            <div class="date"><span>17</span> oct</div>
                            <div class="likes"><i class="far fa-heart"></i>5</div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3><a href="shop-single.html">Tلوريم ايبسوم دولار سيت</a></h3>
                        <ul class="info">
                            <li><a href="shop-single.html"><i class="far fa-user"></i> الادمن</a></li>
                            <li><a href="shop-single.html"><i class="far fa-comments"></i> 3 تعليقات</a></li>
                        </ul>
                        <p>لوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيت</p>
                        <a href="shop-single.html" class="read-more">المزيد <i class="fa fa-angle-double-left"></i></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box clearfix">
                    <div class="image-box">
                        <div class="image"><a href="shop-single.html"><img src="images/resource/news-1.jpg" alt=""></a></div>
                        <div class="label">
                            <div class="date"><span>17</span> oct</div>
                            <div class="likes"><i class="far fa-heart"></i> 6</div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3><a href="shop-single.html">Tلوريم ايبسوم دولار سيت</a></h3>
                        <ul class="info">
                            <li><a href="shop-single.html"><i class="far fa-user"></i> الادمن</a></li>
                            <li><a href="shop-single.html"><i class="far fa-comments"></i> 3 تعليقات</a></li>
                        </ul>
                        <p>لوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيت</p>
                        <a href="shop-single.html" class="read-more">المزيد <i class="fa fa-angle-double-left"></i></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box clearfix">
                    <div class="image-box">
                        <div class="image"><a href="shop-single.html"><img src="images/resource/news-2.jpg" alt=""></a></div>
                        <div class="label">
                            <div class="date"><span>17</span> oct</div>
                            <div class="likes"><i class="far fa-heart"></i> 9</div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3><a href="shop-single.html">Tلوريم ايبسوم دولار سيت</a></h3>
                        <ul class="info">
                            <li><a href="shop-single.html"><i class="far fa-user"></i> الادمن</a></li>
                            <li><a href="shop-single.html"><i class="far fa-comments"></i> 3 تعليقات</a></li>
                        </ul>
                        <p>لوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيتلوريم ايبسوم دولار سيت</p>
                        <a href="shop-single.html" class="read-more">المزيد <i class="fa fa-angle-double-left"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End News section -->
<!--Clients Section-->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->
