@model HaragApp.Models.City

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1 class="mt-4 text-center">حــذف</h1>

        <h3>هل أنت متأكد من حذف هذه المديــنة ؟!</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    اسم المدينــة :
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CityName)
                </dd>
                <dt class="col-sm-2">
                    خط الطــول :
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Langtude)
                </dd>
                <dt class="col-sm-2">
                    خط العــرض :
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Lantitude)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CityID" />
                <input type="submit" value="حــذف" class="btn btn-danger" /> |
                <a asp-action="Index">العودة إلى القائمة الرئيسيــة</a>
            </form>
        </div>
    </div>