@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "";
}


@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input."></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>*@



<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/rtl/demo9/auth_login_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jul 2020 20:32:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>نسيت كلمة المرور</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/structure.css" rel="stylesheet" type="text/css" class="structure" />
    <link href="~/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
</head>
<body class="form">


    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">نسيت كلمة المرور</h1>


                        <form class="text-left" id="account" method="post">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">
                                    <label for="username">رقم الهاتـف</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    @*<input id="username" name="username" type="text" class="form-control" placeholder="e.g John_Doe">*@
                                    @*<input asp-for="Input.Phone" id="username" class="form-control" />*@

                                    <div class="row">
                                        <div class="col-md-8">
                                            <input asp-for="Input.Phone" id="username" class="form-control" />
                                            @Html.ValidationMessageFor(x => x.Input.Phone, null, new { @class = "form-control-feedback" })
                                        </div>
                                        <div class="col-md-4">
                                            <input value="966+" disabled id="username" class="form-control" />
                                        </div>

                                    </div>
                                </div>

                        
                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">ارسال الكود</button>
                                    </div>
                                </div>

                                <p class="signup-link">غير مسجل ؟<a asp-page="./Register"> سجل كمستخدم جديد  </a></p>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/authentication/form-2.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

<!-- Mirrored from designreset.com/cork/rtl/demo9/auth_login_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Jul 2020 20:32:50 GMT -->
</html>
