@model HaragApp.ViewModels.AdsImagesVm
@{
	ViewData["Title"] = "CreatePaidAdd";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<section class="login-section">
		<div class="auto-container">
			<div class="row clearfix">

				<div class="column col-lg-12 col-md-12 col-sm-12 ">
					<!-- Login Form -->
					<h2>تعديل اعلان ممول </h2>
					<div class="login-form text-right">
						<!--Login Form-->
						<form asp-action="EditPaidAdd" method="post" id="EditForm">
							<div class="form-group">
								<input type="hidden" asp-for="AdID">
								<input type="hidden" asp-for="UserId">
								<input class="form-control" asp-for="Title" placeholder="الاسم  ">
							</div>


							<div class="form-group">
								<input class="form-control" id="exampleFormControlTextarea1" placeholder="رابط الإعلان الممول" type="text" asp-for="Description">
							</div>
							<div class="form-group" style="display:none">
								<input type="checkbox" id="vehicle1" asp-for="IsPaid" checked="checked">
								<input type="checkbox" id="vehicle1" asp-for="IsPact" checked="checked">
							</div>

							<div class="row">
								<label>صورة الإعــلان</label>
								<input type="file" required id="files1" name="files" class="btn btn-block w-50 mb-2 m-auto"><img id="loader1" src="~/assets/img/lodingLoader.gif" style="width:30px;height:30px;display:none" />
								<img id="SelectedImage1" src="@Model.ImageUrl1" class="img-thumbnail align-content-center m-auto" style="height:auto;" />
							</div>
							<br />
							<br />
							<br />

							<div class="clearfix">
								<div class="pull-right">
									<div class="form-group text-right">
										<button class="btn btn-primary btn-block w-50 m-auto" type="button" id="save">تأكيـــد </button><br /><br />
									</div>
								</div>

							</div>
							<input id="ImageUrl1" name="ImageUrl1" value="@Model.ImageUrl1" type="hidden" />
							
						</form>
					</div>
					<!--End Login Form -->
				</div>


			</div>
		</div>
	</section>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<script>
        $("#files1").change(function () {
            $("#loader1").show();
			 $("#save").prop('disabled', true);
			  var element = this;

			  var formData = new FormData();

		 var totalFiles = element.files.length;

			  for (var i = 0; i < totalFiles; i++) {
				var file = element.files[i];
				formData.append("Photo", file);
			  }

				$.ajax({
					type: 'POST',
					url: '@Url.Action("UploadImage", "Advertisments")',
					dataType: 'json',
					data: formData,
					contentType: false,
					processData: false,
					success: function (response) {
						$("#ImageUrl1").val(response.image);
                        $("#SelectedImage1").attr("src", response.image);
						$("#loader1").hide();
						$("#save").prop('disabled', false);
					},
					error: function () {
						alert("FAIL");
					}
				})
				//.done(function (response) {

				//        alert(response.ImageURL)
				//       // $("#ImageUrl").val(response.ImageURL);
				//      //  $("#SelectedImage").attr("src", response.ImageURL);

				// })
				//.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				//    	alert("FAIL");
				//});
	 });
		$("#save").click(function () {
            if ($('#loader1').css('display') != 'none') {
                alert("Please wait files are still UPLOADING !!")
               
            } else {
				 $("#EditForm").submit();
            }

			});
	</script>

	}