@model ICollection<HaragApp.ViewModels.PaidAddViewModel>
@{
    ViewData["Title"] = "IndexPaidAdv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->

}
<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">

    <div class="page-header">
        <div class="page-title">
            <h3>التحكم فى الاعلانات المموله</h3>
        </div>
    </div>
    <div class=" row layout-top-spacing" id="cancel-row">

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="zero-config" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>العنوان</th>
                                <th>الصوره</th>

                                <th></th>
                                @*<th class="no-content"></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td><img class="img-thumbnail" style="width:100px;height:100px;" src="@item.ImageUrl1"/></td>

                                        <td>
                                            <a asp-action="EditPaidAdd" asp-controller="Advertisments" asp-route-id="@item.AdID" class="btn btn-info">تعديل</a>
                                            <a class="btn btn-danger mb-2 delete"
                                               data-id="@item.AdID"
                                               data-controller="Advertisments"
                                               data-action="DeletePaidAdd"
                                               data-body-message="هل انت متأكد من عملية الحذف ؟">حذف</a>
                                        </td>


                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td>لا توجد اعلانات مموله</td>
                                    <td>
                                    </td>


                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<!--  END CONTENT AREA  -->
@section scripts{

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script>
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
    </script>
}